In [2]:
import pandas as pd
import numpy as np
import dask.dataframe as dd
from dask.dataframe import from_pandas
import matplotlib.pyplot as plt

In [3]:
ins_pay_data_path = r"C:\Users\redal\Code\bootcamp_ppi\HomeCreditDefaultRisk\HomeCreditDefaultRisk\installments_payments_sorted.csv"

In [4]:
df = pd.read_csv(ins_pay_data_path)
df.head()

,Unnamed: 0,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,512588,1000001,158271,1.0,1,-268.0,-294.0,6404.310,6404.310
1,2159480,1000001,158271,2.0,2,-238.0,-244.0,62039.115,62039.115
2,1214732,1000002,101962,1.0,1,-1600.0,-1611.0,6264.000,6264.000
3,1631862,1000002,101962,1.0,2,-1570.0,-1575.0,6264.000,6264.000
4,3411021,1000002,101962,1.0,3,-1540.0,-1559.0,6264.000,6264.000

- SK_ID_PREV: ID of previous credit in Home credit related to loan in our sample. (One loan in our sample can have 0,1,2 or more previous loans in Home Credit)

- SK_ID_CURR: ID of loan in our sample

- NUM_INSTALMENT_VERSION: Version of installment calendar (0 is for credit card) of previous credit. Change of installment version from month to month signifies that some parameter of payment calendar has changed

- NUM_INSTALMENT_NUMBER: On which installment we observe payment

- DAYS_INSTALMENT: When the installment of previous credit was supposed to be paid (relative to application date of current loan)

- DAYS_ENTRY_PAYMENT: When was the installments of previous credit paid actually (relative to application date of current loan)

- AMT_INSTALMENT: What was the prescribed installment amount of previous credit on this installment

- AMT_PAYMENT: What the client actually paid on previous credit on this installment

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13605401 entries, 0 to 13605400
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   SK_ID_PREV              int64
 2   SK_ID_CURR              int64
 3   NUM_INSTALMENT_VERSION  float64
 4   NUM_INSTALMENT_NUMBER   int64
 5   DAYS_INSTALMENT         float64
 6   DAYS_ENTRY_PAYMENT      float64
 7   AMT_INSTALMENT          float64
 8   AMT_PAYMENT             float64
dtypes: float64(5), int64(4)
memory usage: 934.2 MB

In [6]:
# Although dask is faster, still need pandas for sorting operation -- dask doesn't support sort by multiple columns
# ref: https://github.com/dask/dask/issues/7938
# sorted df saved to installments_payments_sorted.csv

df = df.sort_values(by=['SK_ID_PREV', 'SK_ID_CURR', 'DAYS_INSTALMENT'])
df.to_csv(r"C:\Users\redal\Code\bootcamp_ppi\HomeCreditDefaultRisk\HomeCreditDefaultRisk\installments_payments_sorted_by_days_installment.csv")

In [7]:
# import pandas dataframe to dask -- this operations takes about 7-8 seconds
# npartitions depend on how many cores your computer/server has
ddf = from_pandas(df, npartitions=3)

In [8]:
# Note: dask is lazily evaluated -- calculations are only computed when they are needed
# So dask won't even print dataframe for you without calling .head()
ddf.head()

,Unnamed: 0,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,512588,1000001,158271,1.0,1,-268.0,-294.0,6404.310,6404.310
1,2159480,1000001,158271,2.0,2,-238.0,-244.0,62039.115,62039.115
2,1214732,1000002,101962,1.0,1,-1600.0,-1611.0,6264.000,6264.000
3,1631862,1000002,101962,1.0,2,-1570.0,-1575.0,6264.000,6264.000
4,3411021,1000002,101962,1.0,3,-1540.0,-1559.0,6264.000,6264.000

In [9]:
df[df["SK_ID_PREV"] == 1308766]

,Unnamed: 0,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
2415510,13594881,1308766,402199,0.0,2,-539.0,-539.0,7114.995,7114.995
2415509,11910732,1308766,402199,0.0,1,-523.0,-539.0,6385.005,6385.005
2415511,12969604,1308766,402199,0.0,3,-520.0,-520.0,3781.755,3781.755
2415513,13193327,1308766,402199,0.0,5,-503.0,-503.0,6841.485,6841.485
2415512,12842367,1308766,402199,0.0,4,-492.0,-503.0,6658.515,6658.515
2415514,11644235,1308766,402199,0.0,6,-484.0,-484.0,517.590,517.590
2415516,12541881,1308766,402199,0.0,8,-476.0,-476.0,7291.800,7291.800
2415515,12969257,1308766,402199,0.0,7,-462.0,-476.0,6208.200,6208.200
2415518,11548451,1308766,402199,0.0,10,-447.0,-447.0,4742.370,4742.370
2415517,11972422,1308766,402199,0.0,9,-431.0,-447.0,17757.630,17757.630
2415519,11984210,1308766,402199,0.0,11,-430.0,-430.0,22500.000,22500.000
2415520,13548773,1308766,402199,0.0,12,-428.0,-428.0,7148.385,7148.385
2415521,12293477,1308766,402199,0.0,13,-400.0,-396.0,19266.120,19266.120
2415522,12940842,1308766,402199,0.0,14,-396.0,-396.0,3233.880,3233.880
2415524,13433363,1308766,402199,0.0,16,-378.0,-378.0,951.480,951.480
2415523,12351283,1308766,402199,0.0,15,-372.0,-378.0,21548.520,21548.520
2415525,13274776,1308766,402199,0.0,17,-367.0,-367.0,1656.450,1656.450
2415527,13522015,1308766,402199,0.0,19,-353.0,-353.0,23906.790,23906.790
2415526,12421791,1308766,402199,0.0,18,-341.0,-353.0,21093.210,21093.210
2415529,12464187,1308766,402199,0.0,21,-324.0,-324.0,2105.280,2105.280
2415528,12614400,1308766,402199,0.0,20,-311.0,-324.0,19494.720,19494.720
2415531,13184543,1308766,402199,0.0,23,-293.0,-293.0,3439.845,3439.845
2415530,12811556,1308766,402199,0.0,22,-280.0,-293.0,19060.155,19060.155
2415533,12668673,1308766,402199,0.0,25,-265.0,-265.0,3949.740,3949.740
2415532,11977405,1308766,402199,0.0,24,-250.0,-265.0,18550.260,18550.260
2415536,11818017,1308766,402199,0.0,27,-221.0,-221.0,190.620,190.620
2415534,11608484,1308766,402199,0.0,26,-219.0,-221.0,29959.380,7459.380
2415535,13089911,1308766,402199,0.0,26,-219.0,-231.0,29959.380,22500.000
2415538,12966673,1308766,402199,0.0,29,-202.0,-202.0,3256.380,3256.380
2415537,11845773,1308766,402199,0.0,28,-188.0,-202.0,37243.620,37243.620
2415539,12668674,1308766,402199,0.0,30,-184.0,-184.0,4654.260,4654.260
2415541,13208114,1308766,402199,0.0,32,-170.0,-170.0,183.330,183.330
2415540,12772814,1308766,402199,0.0,31,-158.0,-170.0,44816.670,44816.670
2415542,11853079,1308766,402199,0.0,33,-155.0,-155.0,1143.045,1143.045
2415543,12244759,1308766,402199,0.0,34,-127.0,-123.0,45459.585,22959.585
2415544,13490353,1308766,402199,0.0,34,-127.0,-136.0,45459.585,22500.000
2415545,12389827,1308766,402199,0.0,35,-123.0,-123.0,13040.415,13040.415
2415547,13521637,1308766,402199,0.0,37,-108.0,-108.0,214.695,214.695
2415546,12308675,1308766,402199,0.0,36,-97.0,-108.0,44785.305,44785.305
2415548,12178256,1308766,402199,0.0,38,-88.0,-88.0,488.565,488.565
2415550,13128455,1308766,402199,0.0,40,-80.0,-80.0,1034.145,1034.145
2415549,11795720,1308766,402199,0.0,39,-66.0,-80.0,43965.855,43965.855
2415552,12309399,1308766,402199,0.0,42,-45.0,-45.0,350.550,350.550
2415551,12000009,1308766,402199,0.0,41,-35.0,-45.0,44649.450,44649.450
2415553,13605398,1308766,402199,0.0,43,-7.0,NaN,43737.435,NaN

In [10]:
def group_rows_by_months(df):
    
    first_day = df['DAYS_INSTALMENT'].dropna().min() - 0.1
    last_day = df['DAYS_INSTALMENT'].dropna().max()
    
    # make bins using the first & last days, with 30 days interval
    days_in_a_month = 30
    my_bin = list(np.arange(first_day, last_day + days_in_a_month, days_in_a_month))
    
    # split the rows in df_original into groups and aggregate each group
    df['group'] = pd.cut(df['DAYS_INSTALMENT'], bins=my_bin)
    #df['group'] = df['DAYS_INSTALMENT'].map_partitions(pd.cut, groups)
    
    # TODO: make grouping & aggregation faster!
    # https://stackoverflow.com/questions/70861546/can-you-further-speed-up-pd-dataframe-agg
    # speed for each agg does not change until hit HUGE number of rows -- which is not the case here
    # only thing can try is to run this part as less number of times as possible
    
    df_new = df.groupby(['group']).agg({"DAYS_INSTALMENT": "mean",
                                        "DAYS_ENTRY_PAYMENT": "mean",
                                        "AMT_INSTALMENT": "sum",
                                        "AMT_PAYMENT": "sum"})
    return df_new

In [12]:
def extract_features(id_prev, df_grouped):
    dict_for_this_sk_id = {}
    dict_for_this_sk_id["SK_ID_PREV"] = id_prev

    # if there is only 1 installment (regardless of how many days ago)
    if len(df_grouped) < 2:
        dict_for_this_sk_id["DEFAULT"] = False
        dict_for_this_sk_id["STDEV_PAYMENTS"] = 0
        
        # has that installment actually been paid?
        no_payment_flag = df_grouped["AMT_PAYMENT"].values[0] == 0.0
        
        if no_payment_flag:
            # can't be paying 'late' if hasn't paid yet lol
            dict_for_this_sk_id["MEAN_DAYS_LATE"] = np.nan
        else:
            dict_for_this_sk_id["MEAN_DAYS_LATE"] = df_grouped["DAYS_ENTRY_PAYMENT"].values[0] - df_grouped["DAYS_INSTALMENT"].values[0]
        return dict_for_this_sk_id

    # use to decide whether the person went broke -- one usual pattern is more than 3 NAs in the end
    num_rows_with_na = df_grouped.isna().any(axis=1).sum()
    
    # how much does the person owe the bank in total
    money_owed = df_grouped["AMT_INSTALMENT"].sum() - df_grouped["AMT_PAYMENT"].sum()
    
    # how much money does the person owe, comparing with their usual monthly instalment
    percentage_instalment_owed = money_owed/df_grouped["AMT_INSTALMENT"].mean()
    
    # default conditions: 
    # more than 3 rows with na values 
    # money_owed > 10000 
    # percentage_instalment_owed > 20% of avg instalment
    default_conditions_bool = (num_rows_with_na > 3) & \
                            (money_owed > 10000) & \
                            (percentage_instalment_owed > 0.2) 
    
    dict_for_this_sk_id["DEFAULT"] = default_conditions_bool
    
    # STDEV_PAYMENTS and MEAN_DAYS_LATE calculation should ignore nans and zeroes
    df_rows_without_na = df_grouped[~df_grouped.isna().any(axis=1)]
    dict_for_this_sk_id["STDEV_PAYMENTS"] = df_rows_without_na["AMT_PAYMENT"].std()
    dict_for_this_sk_id["MEAN_DAYS_LATE"] = df_rows_without_na["DAYS_ENTRY_PAYMENT"].mean() - df_rows_without_na["DAYS_INSTALMENT"].mean()

    return dict_for_this_sk_id

In [14]:
import time

# with pandas:
# time_to_fetch_id 0.022974491119384766
# time for row grouping 0.018982887268066406
# time for extracting features 0.0020346641540527344
# total time 0.04399204254

# with dask:
# time_to_fetch_id 0.002001523971557617
# time for row grouping 0.10078549385070801
# time for extracting features 0.21130943298339844
# total time 0.31409645080566406

# with mixture of pandas and dask
# time to fetch id 0.0010361671447753906
# time to convert dask df to pandas df 0.025593280792236328
# time for row grouping 0.01801443099975586
# time for extracting features 0.0019991397857666016
# total time 0.04664301872253418


time_init = time.time()

# using dask dataframe speeds this line up by 10x!
df_for_the_id = ddf[ddf["SK_ID_PREV"] == 1000003]

time_fetch_id = time.time()
print("time_to_fetch_id", time_fetch_id - time_init)

df_for_the_id = df_for_the_id.compute()

time_dask_to_pandas = time.time()

print("time converting dask to pandas", time_dask_to_pandas - time_fetch_id)

# for this, however, pandas is 10x faster
cat = group_rows_by_months(df_for_the_id)
print(cat)
print(cat.info())

time_group = time.time()
print("time for row grouping", time_group - time_dask_to_pandas)

# for this, however, pandas is 100x faster
id_dict = extract_features(1000003, cat)
time_features = time.time()

print("time for extracting features", time_features - time_group)

print(id_dict)    
    
print("total_time", time_features - time_init)

time_to_fetch_id 0.002000093460083008
time converting dask to pandas 0.022009611129760742
                DAYS_INSTALMENT  DAYS_ENTRY_PAYMENT  AMT_INSTALMENT  \
group
(-94.1, -64.1]            -94.0              -108.0         4951.35
(-64.1, -34.1]            -64.0               -81.0         4951.35
(-34.1, -4.1]             -34.0               -49.0         4951.35

                AMT_PAYMENT
group
(-94.1, -64.1]      4951.35
(-64.1, -34.1]      4951.35
(-34.1, -4.1]       4951.35
<class 'pandas.core.frame.DataFrame'>
CategoricalIndex: 3 entries, (-94.1, -64.1] to (-34.1, -4.1]
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DAYS_INSTALMENT     3 non-null      float64
 1   DAYS_ENTRY_PAYMENT  3 non-null      float64
 2   AMT_INSTALMENT      3 non-null      float64
 3   AMT_PAYMENT         3 non-null      float64
dtypes: float64(4)
memory usage: 255.0 bytes
None
time for row grouping 0.014988422393798828
time for extracting features 0.001999378204345703
{'SK_ID_PREV': 1000003, 'DEFAULT': False, 'STDEV_PAYMENTS': 0.0, 'MEAN_DAYS_LATE': -15.333333333333329}
total_time 0.04099750518798828

C:\Users\redal\AppData\Local\Temp/ipykernel_23320/1810459404.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['group'] = pd.cut(df['DAYS_INSTALMENT'], bins=my_bin)

In [158]:
# need to process this many SK_ID_PREV -- need nearly 8 hours with current speed!
# total_time can be reduced by a factor of 4-5 by pre-splitting the dataframe by ids, don't use
# df[df["SK_ID_PREV"] == SOME_SK_ID_PREV]
id_prev_to_preprocess = df.SK_ID_PREV.unique()
print(len(id_prev_to_preprocess))
print(id_prev_to_preprocess)

997752
[1000001 1000002 1000003 ... 2843497 2843498 2843499]

In [8]:
#1310347 (no broke but nans)
#2448869 (broke)
#1308766 (irregular paying pattern)
#1035136 (one row)

id_mega_dict = []

for id_prev in id_prev_to_preprocess:
    df_for_the_id = df[df["SK_ID_PREV"] == id_prev]
    cat = group_rows_by_months(df_for_the_id)
    id_dict = extract_features(id_prev, cat)
    
    id_mega_dict.append(id_dict)

KeyboardInterrupt:

In [9]:
print(len(id_mega_dict))

6304

In [ ]:
df_cat = pd.DataFrame.from_records(id_mega_dict)

In [ ]:
df_cat.to_csv(path_or_buf = r"C:\Users\redal\Code\bootcamp_ppi\HomeCreditDefaultRisk\HomeCreditDefaultRisk\installments_payments_features.csv",index=False)

In [ ]:
#df.groupby("id").agg(lambda x: _aggregate_listwise(x))
#df.set_index('id').stack().groupby(level=[0,1]).agg(list).unstack(fill_value=[0])